data_example/
__pycache__/
*.pyc
.pytest_cache/
.ruff_cache/
.mypy_cache/
.venv/
venv/
db.sqlite3
dist/
build/
*.egg-info/
.env
.env.*
!/.env.example
app/media/
app/staticfiles/
coverage/
htmlcov/
playwright-report/
.idea/
.vscode/
Thumbs.db
.DS_Store
notebooks/
artigo/